<!doctype html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
    <!-- Simple Parallax JS -->
    {% if site.simple_parallax_js %}
      {% if site.simple_parallax_js == true %}
        {% comment %} <script defer src="https://cdnjs.cloudflare.com/ajax/libs/simple-parallax-js/5.6.2/simpleParallax.js" integrity="sha512-gbbpFS1amYeHZT44HIou1MbN9b6gmRvyBdisWdE+d/GNn1aEVbUvbnOw1Jh+nW9N5+hd3d1trhhVf0ycE5LJeg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> {% endcomment %}
        <script type="module" src={{ '/assets/js/simpleParallax.js' | relative_url }}></script>
        <style>
          img[class^="img"] {
            visibility: hidden;
            transform: scale(1.2); /* Ensure images are scaled initially */
            transition: transform 0s;
          }
        </style>
        <script defer>
          document.addEventListener('DOMContentLoaded', function() {
            var images = document.querySelectorAll('[class^="img"]');
            images.forEach(function(img) {
              img.addEventListener('load', function() {
                img.style.visibility = 'visible';
                new simpleParallax(img, {
                  delay: 3,
                  scale: 1.3,
                  transition: 'cubic-bezier(0,0,0,1)'
                });
              });
              if (img.complete) {
                img.dispatchEvent(new Event('load'));
              }
            });
          });
        </script>
      {% endif %}
    {% endif %}

    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>

    {% if page.redirect %}
      {% if page.redirect == true %}
        {% assign redirect = site.baseurl | append: '/' %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign redirect = page.redirect | relative_url %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    {% include head.liquid %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Particle JS -->
    {% if site.particle_js %}
      {% if site.particle_js == true %}
        <script src={{ '/assets/js/particles.js' | relative_url }}></script>
        <script src={{ '/assets/js/particle-call-function.js' | relative_url }}></script>
        <div id="particles-js"></div>
      {% endif %}
    {% endif %}

    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <div class="container mt-5" role="main">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == 'right' %}
          <div class="row">
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
          </div>
        {% else %}
          <div class="row">
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
          </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>
    </div>

    <!-- Footer -->
    {% include footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts/jquery.liquid %}
    {% include scripts/bootstrap.liquid %}
    {% include scripts/masonry.liquid %}
    {% include scripts/mermaid.liquid %}
    {% include scripts/diff2html.liquid %}
    {% include scripts/leaflet.liquid %}
    {% include scripts/chartjs.liquid %}
    {% include scripts/echarts.liquid %}
    {% include scripts/vega.liquid %}
    {% include scripts/tikzjax.liquid %}
    {% include scripts/typograms.liquid %}
    {% include scripts/misc.liquid %}
    {% include scripts/badges.liquid %}
    {% include scripts/mathjax.liquid %}
    {% include scripts/pseudocode.liquid %}
    {% include scripts/analytics.liquid %}
    {% include scripts/progressBar.liquid %}
    {% include scripts/wechatModal.liquid %}
    {% include scripts/imageLayouts.liquid %}
    {% include scripts/jekyll_tabs.liquid %}
    {% include scripts/back_to_top.liquid %}
    {% include scripts/search.liquid %}
    <script src="{{ '/assets/js/shortcut-key.js' | relative_url }}"></script>
  </body>
</html>
